body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.picture {
  width: 100%;
}

.boxGrid {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  column-gap: 10px;
}

.holoname {
  text-align: center;
  font: 32px;
}

h1{
  text-align: center;
}

.scoreboard {
  text-align: center;
}